awscli
boto
boto3
clint
cobertura-clover-transform
dropbox
filechunkio
freezegun
googlemaps
gspread
ipython
lxml
matplotlib
mock
nameparser
networkx
numpy
oauth2client
pandas
phonenumbers
psutil
psycopg2
pytest
pytest-cov
pytest-pep8
python-dateutil
python-slugify
requests
sas7bdat
scikit-learn
scipy
seaborn
simplejson
slackclient
sqlalchemy
tabulate
xmltodict
