requests
boto
haversine
lxml
nameparser
python-dateutil
psutil
Unidecode
usaddress
xmltodict
nose
pyzmq
tornado
ipython
python-Levenshtein
fuzzywuzzy
psycopg2
sqlalchemy
probablepeople
numpy
scipy
scikit-learn
pandas
matplotlib
seaborn
nltk
statsmodels
gensim
jsonschema
googlemaps
python-slugify
phonenumbers
networkx
clint
filechunkio
simplejson
pytest
mock
freezegun
pytest-pep8
pytest-cov
cobertura-clover-transform
slackclient
